extends layout.pug

block vars
  - var title=site.name
  - var site_name=site.name

block content
  div(class="container")
    if (posts)
      each post in posts
        - var post_link = '/p/' + post.slug
        div(class="row")
          div(class="col-md-10 col-md-offset-1")
            h1=post.title
            h4=post.author
            p(class="post-date" id="post-date")=post.pretty_date
            div(class="post-content")
              p!=post.excerpt
            a(href=post_link class="btn btn-default") Read more...
        hr
    div(class="row text-center")
      if page_count > 1
        nav(aria-label="Page navigation")
          ul(class="pagination")
            li
              a(href="/" aria-label="Newest")
                span(aria-hidden="true") &laquo;
            - for (let i = 1; i <= (page_count); i++)
              - let page_link = "/page/" + i
              if i == 1
                li
                  a(href="/")=i
              else
                li
                  a(href=page_link)=i
            li
              - let last_page = "/page/" + (page_count)
              a(href=last_page aria-label="Oldest")
                span(aria-hidden="true") &raquo;
