extends layout

block vars
  - var title=site.name + ': ' + post.title
  - var site_name=site.name
  - var description = 'Site dashboard'
  - var header_setup = 'background-image: url(' + post.header_image + ')';

block content
  div(class="container")
    div(class="row")
      div(class="blur" style=header_setup)
    div(class="row")
      div(class="col-md-10 col-md-offset-1")
        h1(class="post-title")=post.title
    div(class="row")
      div(class="col-md-10 col-md-offset-1")
        div(class="media")
          div(class="media-left media-middle")
            img(class="img-circle media-object" src=user.display_picture)
          div(class="media-body")
            h4(class="media-heading")
              p by &nbsp;
                =user.name
        p(class="post-date")=post.pretty_date
        div(class="post-content")
          !=post.rendered
