extends layout

block vars
  - var title='Media'
  - var description='Upload and Edit Media'

block content
  div(class="row-fluid")
    div(class="col-md-8 col-md-offset-2")
      div(class="row-fluid")
        h1 Media
        div(class="form-group")
          div(class="btn-group")
            a(class="btn btn-default" href="/dash/media/upload")
              <i class="fa fa-upload"></i>&nbsp; Upload
      div(class="row-fluid")
        - let index = 0;
        each image in media
          - let image_path = "image_path" + index
          - let image_path_id = "#image_path" + index
          - let image_edit = '/dash/media/edit/' + image.id
          div(class="col-lg-4 col-md-4 col-xs-4 thumb")
            div(class="thumbnail")
              img(src=image.path class="img-responsive" alt=image.description)
            div(class="form-group")
              input(type="text" class="form-control" readonly="true" value=image.name)
            div(class="form-group")
              div(class="input-group")
                div(class="input-group-btn")
                  button(class="btn btn-default" data-clipboard-target=image_path_id data-toggle="tooltip" data-placement="top" title="Copy URL")
                    <i class="fa fa-clipboard"></i>
                input(id=image_path class="form-control" value=image.path)
            div(class="form-group")
              div(class="btn-group")
                a(class="btn btn-primary" href=image_edit)
                  <i class="fa fa-pencil-square-o"></i> Edit
                a(class="btn btn-primary" href=image.path target="_blank")
                  <i class="fa fa-external-link"></i> View Fullsize
          script.
            new Clipboard('.btn');
          - index += 1
  script.
    $(function() {
      $(".target-active").find('[href="/dash/media"]').parent().addClass("active");
      $('[data-toggle="tooltip"]').tooltip();
    });
